<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<!--
    css가 header에 존재하는 이유
    >> css가 HTML의 형태 등을 꾸며주기 때문에, header에 없을 경우 페이지 전체가 깨질 수 있기 떄문
-->